# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
absl-py=0.9.0=pypi_0
alabaster=0.7.12=pypi_0
appnope=0.1.0=pypi_0
astunparse=1.6.3=pypi_0
async-generator=1.10=pypi_0
attrs=19.3.0=py_0
babel=2.8.0=pypi_0
backcall=0.1.0=pypi_0
bleach=3.1.5=pyh9f0ad1d_0
ca-certificates=2020.4.5.1=hecc5488_0
cachetools=4.1.0=pypi_0
certifi=2020.4.5.1=py37hc8dfbb8_0
chardet=3.0.4=pypi_0
click=7.1.2=pypi_0
colorama=0.4.3=pypi_0
cycler=0.10.0=pypi_0
decorator=4.4.2=py_0
defusedxml=0.6.0=py_0
docutils=0.16=pypi_0
entrypoints=0.3=py37hc8dfbb8_1001
gast=0.3.3=pypi_0
ghp-import=0.5.5=pypi_0
gitdb=4.0.5=pypi_0
gitpython=3.1.2=pypi_0
google-auth=1.15.0=pypi_0
google-auth-oauthlib=0.4.1=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.29.0=pypi_0
h5py=2.10.0=pypi_0
idna=2.9=pypi_0
imagesize=1.2.0=pypi_0
importlib-metadata=1.6.0=py37hc8dfbb8_0
importlib_metadata=1.6.0=0
ipykernel=5.3.0=pypi_0
ipython=7.14.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipython_genutils=0.2.0=py_1
ipywidgets=7.5.1=pypi_0
jedi=0.17.0=pypi_0
jinja2=2.11.2=pyh9f0ad1d_0
jsonschema=3.2.0=py37hc8dfbb8_1
jupyter-book=0.7.0b3=pypi_0
jupyter-cache=0.2.1=pypi_0
jupyter-client=6.1.3=pypi_0
jupyter-sphinx=0.2.4=pypi_0
jupyter_core=4.6.3=py37hc8dfbb8_1
jupytext=1.4.2=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.2.0=pypi_0
latexcodec=2.0.0=pypi_0
libcxx=10.0.0=h1af66ff_2
libffi=3.2.1=h4a8c4bd_1007
libsass=0.20.0=pypi_0
markdown=3.2.2=pypi_0
markdown-it-py=0.4.5=pypi_0
markupsafe=1.1.1=py37h9bfed18_1
matplotlib=3.2.1=pypi_0
mistune=0.8.4=py37h9bfed18_1001
more-itertools=8.3.0=pypi_0
myst-nb=0.8.1=pypi_0
myst-parser=0.8.1=pypi_0
nbclient=0.3.1=pypi_0
nbconvert=5.6.1=py37hc8dfbb8_1
nbdime=2.0.0=pypi_0
nbformat=5.0.6=py_0
ncurses=6.1=h0a44026_1002
nest-asyncio=1.3.3=pypi_0
notebook=6.0.3=pypi_0
numpy=1.18.4=pypi_0
oauthlib=3.1.0=pypi_0
openssl=1.1.1g=h0b31af3_0
opt-einsum=3.2.1=pypi_0
oset=0.1.3=pypi_0
packaging=20.4=pyh9f0ad1d_0
pandas=1.0.3=pypi_0
pandoc=2.9.2.1=0
pandocfilters=1.4.2=pypi_0
parso=0.7.0=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pip=20.1.1=pyh9f0ad1d_0
plotly=4.7.1=pypi_0
pluggy=0.13.1=pypi_0
prometheus-client=0.7.1=pypi_0
prompt-toolkit=3.0.5=pypi_0
protobuf=3.12.1=pypi_0
ptyprocess=0.6.0=pypi_0
py=1.8.1=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pybtex=0.22.2=pypi_0
pybtex-docutils=0.2.2=pypi_0
pydata-sphinx-theme=0.3.0=pypi_0
pygments=2.6.1=py_0
pyparsing=2.4.7=pyh9f0ad1d_0
pyrsistent=0.16.0=py37h9bfed18_0
pytest=5.4.2=pypi_0
python=3.7.6=h90870a6_5_cpython
python-dateutil=2.8.1=pypi_0
python_abi=3.7=1_cp37m
pytz=2020.1=pypi_0
pyyaml=5.3.1=pypi_0
pyzmq=19.0.1=pypi_0
readline=8.0=hcfe32e1_0
requests=2.23.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
retrying=1.3.3=pypi_0
rsa=4.0=pypi_0
ruamel-yaml=0.16.10=pypi_0
ruamel-yaml-clib=0.2.0=pypi_0
scipy=1.4.1=pypi_0
send2trash=1.5.0=pypi_0
setuptools=46.4.0=py37hc8dfbb8_0
six=1.15.0=pyh9f0ad1d_0
smmap=3.0.4=pypi_0
snowballstemmer=2.0.0=pypi_0
sphinx=2.4.4=pypi_0
sphinx-book-theme=0.0.23=pypi_0
sphinx-copybutton=0.2.11=pypi_0
sphinx-togglebutton=0.1.1=pypi_0
sphinxcontrib-applehelp=1.0.2=pypi_0
sphinxcontrib-bibtex=1.0.0=pypi_0
sphinxcontrib-devhelp=1.0.2=pypi_0
sphinxcontrib-htmlhelp=1.0.3=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.3=pypi_0
sphinxcontrib-serializinghtml=1.1.4=pypi_0
sqlalchemy=1.3.17=pypi_0
sqlite=3.30.1=h93121df_0
tensorboard=2.2.1=pypi_0
tensorboard-plugin-wit=1.6.0.post3=pypi_0
tensorflow=2.2.0=pypi_0
tensorflow-estimator=2.2.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.8.3=pypi_0
testpath=0.4.4=py_0
tk=8.6.10=hbbe82c9_0
tornado=6.0.4=pypi_0
tqdm=4.46.0=pypi_0
traitlets=4.3.3=py37hc8dfbb8_1
urllib3=1.25.9=pypi_0
wcwidth=0.1.9=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=1.0.1=pypi_0
wheel=0.34.2=py_1
widgetsnbextension=3.5.1=pypi_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h0b31af3_0
zipp=3.1.0=py_0
zlib=1.2.11=h0b31af3_1006
